
Exercicios/CursoEmVideo/.idea/modules.xml
Exercicios/CursoEmVideo/.idea/misc.xml
Exercicios/CursoEmVideo/.idea/inspectionProfiles/profiles_settings.xml
Exercicios/CursoEmVideo/.idea/CursoEmVideo.iml
